/*CSS DOCUMENT*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; 
}
body {
    font-family: chaparral-pro, serif;
    font-weight: 400;
    font-style: normal;
}
header {
    background-color: #FFCC7D;
    padding-bottom: .7em;
    margin: 0em;
    padding-left; 1.5em;
}
nav ul {
    padding:0;
}
nav ul li {
    display:inline;
    list-style: none;
}  
nav ul li a {
    color: #753B34;
    margin-right: 2em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-family: chaparral-pro, serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.2em;
    padding-left: .8em;
 }
nav ul li a:hover {
    color: #F8F0E3;
}

h2 {
    font-family: chaparral-pro, serif;
    font-weight: 700;
    font-style: normal;
    color: #753B34;
    font-size: 2em;
    margin: 1.8rem 0rem .5rem 1rem;
}
h3 {
    font-family: chaparral-pro, serif;
    font-weight: 500;
    font-style: normal;
    color: #2E6F75;
    margin: 1.5rem 0rem .8rem 1rem;
    font-size: 1.5em;
}
h4 {
    font-size: 1em;
    font-family: chaparral-pro, serif;
    font-weight: 600;
    color: #753B34;
    margin: .5rem 0rem 0rem 1rem;      
}
p {
    font-size: 1em;
    line-height: 1.3em;
    font-family: chaparral-pro, serif;
    font-weight: 400;
    font-style: normal;
    margin: .5rem 0rem .5rem 1rem;   
}
p.price {
    color: #2E6F75;
    font-weight: 500;
    font-size: .9rem;
    padding-bottom: .5rem;    
}
address { 
     margin-left: 1rem;
    font-style: normal;   
}
p.hours {
    line-height: 1rem;
    margin-top: .3rem;
}
footer {
     background-color: #FFCC7D;
     padding: 1rem 0rem .8em 0;
     color: #753B34;
    margin-top: 2rem; 
}
/*Please don’t change this CSS stylesheet for the content hierarchy assginment */
